<div class="flex-container cover" *ngIf="config">

  <div class="filters ">

  <form>
    <div class="form-field ">
    <mat-form-field>
    <mat-select placeholder="Environments" [formControl]="envFormControl" required (selectionChange)="SelectEnv($event)">
      <mat-option *ngFor="let env of config.filters.environment" [value]="env">
        {{env.label}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="envFormControl.hasError('required')">Please Environment</mat-error>
    </mat-form-field>
    </div>
    <div class="form-field ">
    <mat-form-field>
      <mat-select placeholder="Nodes" [formControl]="nodeFormControl" required>
        <mat-option *ngFor="let node of nodes" [value]="node">
          {{node}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="nodeFormControl.hasError('required')">Please Environment</mat-error>
    </mat-form-field>
    </div>
    <div class="form-field ">
    <mat-form-field>
      <mat-select placeholder="Order" [formControl]="orderFormControl">
        <mat-option *ngFor="let order of config.filters.orderBy" [value]="order">
          {{order}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="orderFormControl.hasError('required')">Please Environment</mat-error>
    </mat-form-field>
    </div>
    <button mat-raised-button color="accent" class="go-button" (click)="search()"> {{ config.searchButton}}</button>

  </form>
  </div>

  <div class="results">
    <div class="header" *ngIf="result.fileList.length > 0">
      <!--<input matInput type="text" placeholder="Search File Names" [(ngModel)]="fileName"> -->
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     (page)="pageEvent =getServerData($event)">
      </mat-paginator>
    </div>



     <div>
       <p *ngFor="let file of result.fileList"> <a (click)="openFile(file)" >{{ file }} </a> </p>
     </div>

    <!-- <table mat-table [dataSource]="sortedData" class="mat-elevation-z8">

      <ng-container matColumnDef="fileName">
        <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table> -->

  </div>

</div>
