.mat-form-field-underline
    display: none !important
    height: 0 !important
    background-color: inherit !important

.form-field
  padding: 10px

p
  font-size: 14px
  padding: 0 0 0 30px
  margin: 5px
  cursor: pointer
  a:hover
    color: blue
